body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.land {
  fill: #81ad7f;
}

.interiors {
  fill: none;
  stroke: #dfedf0;
}

.sphere {
  fill: #dfedf0;
}

.graticules {
  fill: none;
  stroke: #c5dde2;
}